//- index.jade
extends ./layout.jade

block row-content
  div.row
    div.col-lg-12.col-xs-12.col-md-12.well
      h3 Ask questions?
      div.form-group.row
        div.col-lg-12.col-xs-12(style='margin-top:10px;')
          input.form-control.question(placeholder='Type a question...')
          a.btn.btn-link.example-question(style='padding-left:0px;') Try an example question
      div.row.loading-answers(style='display:none;')
        div.col-lg-12.col-xs-12.text-center
          img(src='images/watson-gray.gif')
      div.row.answers
    div.col-lg-12.col-xs-12
